h1 {
    text-align: center;
    color: red !important;
    font-size: 50px;
    margin-top: 90px;
}

#first_heading {
    color: green;
    font-size: 30px;
}

.second_class {
    color: pink;
    font-size: 20px;
}

 :root {
    --yellow-color: #ffa400;
}

h1 {
    color: var(--yellow-color);
}

body {
    background: #3498db;
}

.ClickOnMe {
    background-color: orange;
    color: white;
    padding: 25px;
    text-align: center;
}

.ClickOnMe:hover {
    background-color: yellowgreen;
}


/* Styling for the input box */

.focus-input {
    width: 300px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}


/* Styling for the input box when it receives focus */

.focus-input:focus {
    border-color: black;
    background-color: greenyellow;
}

.this_input {
    width: 400px;
    height: 30px;
    border: 2px solid red;
    border-radius: 4px;
    padding: 8px;
    font-size: 25px;
    transition: border-color 0.3s ease;
}

.this_input:focus {
    color: white;
    border-color: black;
    background-color: purple;
}

h1 {
    padding-bottom: 200px;
}

.box {
    width: 300px;
    height: 500px;
    background-image: url(https://fullstack.edu.vn/assets/images/f8_avatar.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.class {
    width: 300px;
    height: 500px;
    background-color: #ffa400;
    background-repeat: no-repeat;
    background-size: contain;
}

.po {
    position: relative;
    top: 500px;
    right: 200px;
}

.lien {
    width: 100%;
    height: 120px;
    color: #020202;
    background-color: #00ff26;
    position: absolute;
    font-weight: bold;
    font-size: 30px;
}

.box1 {
    /* width: 50px;
    height: 50px; */
    background-color: #ffffffbd;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.top-fixed {
    width: 100%;
    height: 60px;
    background-color: rgba(126, 226, 20, 0.947);
    position: fixed;
    top: 0;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-fixed {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 192, 203, 0.947);
    position: fixed;
    bottom: 0;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3 {
    width: 100%;
    background-color: #ffa400;
    height: 150px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 150px;
}

.box3 h3 {
    color: white;
    /* text-align: center;
    line-height: 150px;  co tinh thua ke */
}